.choose__container {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 1800px;

}

.w-100 {
    display: flex;
    height: 730px;
}

.choose__title {
    /* font-family: "Chela One", cursive; */
}

.mb-0 {
    position: absolute;
    top: 30px;
    left: 19px;
    font-size: 13px;
    /* font-family: "Chela One", cursive; */
    font-size: x-large;
}