.confirmation {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
}

.confirmation__row {
  display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}
