.landing-title {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100rem;
  border: solid;
  background: linear-gradient(
    270deg,
    rgba(28, 28, 28, 0) 0%,
    rgba(28, 28, 28, 0.33) 38.82%,
    rgba(28, 28, 28, 0.73) 100%
  );
  background: url("https://gitlab.com/appddictionstudio/appgetaway-ui/-/raw/master/src/ocean.jpg")
    no-repeat center center fixed;
  background-position: center;
  background-size: cover;
 
}

.landing-content {
  /* border: solid; */
  position: fixed;
  margin-top: 15rem;

 

}
.landing-text{
  text-align: left;
}

/* .landing-message {
  font-family: "Roboto-Slab", sans-serif;
  font-weight: 800;
  color: #C5090A;
  font-size: 70px;
} */

  .landing-message {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    /* border: solid; */
    /* margin-top: 1rem; */
    font-size: 70px;
    color: #C5090A;
    text-shadow: 1px 5px 4px #000000b5;
  }
  
  


.landing-message-button {
  color: black !important;
  
}
