.nav {
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  position: fixed;
  /* top: 0; */
  z-index: 100;
  filter: drop-shadow(0 0 0.75rem rgb(158, 158, 158));
}

.nav__title {
  height: auto;
  width: 300px;
  font-size: 0px;
  text-align: center;
  /* border: solid; */
  /* padding-left: 100px; */
  font-family: "Russo One", sans-serif;
}

#home-icon {
  position: relative;
}

.menu {
  padding-left: 92%;
  position: fixed;
}