.scheduler__calendar {
  /* height: 50px; */
  width: 65%;
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 10px;
  /* padding-bottom: 10px; */
}

.scheduler__images {
  height: auto;
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 120px;
}

.scheduler {
  display: flex;
  z-index: 100;
  /* border: 10px solid gray; */
}

.d-block {
  height: 662px;
}

.scheduler__title {
  font-family: "Chela One", cursive;

}

