.signup {
  padding-top: 11%;
  /* opacity: 0.5; */
  background-image: url("https://resource.rentcafe.com/image/upload/f_auto,c_limit,w_1920/f_auto,q_auto,c_limit,h_1420,w_1420/s3/2/102601/preserve%20at%20henderson%20beach%20pool(1).jpg");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 8%;
  /* color: white; */
}

.florida {
  padding-top: 2%;
}

.container {
  background-color: white;
  border-radius: 20px;
  padding: 1%;
}
